* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tat-rus.tat-rus.dix -text
/apertium-tat-rus.tat-rus.lrx -text
/apertium-tat-rus.tat-rus.t1x -text
/apertium-tat-rus.tat-rus.t2x -text
/apertium-tat-rus.tat-rus.t3x -text
/apertium-view.sh -text
/autogen.sh -text
/configure.ac -text
corpus/README -text
corpus/corpus.rus.txt -text svneol=unset#application/octet-stream
corpus/corpus.tat.txt -text svneol=unset#application/octet-stream
corpus/tat-rus-nova.txt -text
corpus/tat-rus-origina.txt -text
corpus/tat-rus-posted.txt -text
dev/Pending_tests.html -text
dev/Regression_tests.html -text
dev/generate_tests.sh -text
dev/shupashkar/apertium-tt-ru.ru-tt.rlx -text
dev/shupashkar/apertium-tt-ru.ru.lexc -text
dev/shupashkar/apertium-tt-ru.ru.twol -text
dev/shupashkar/apertium-tt-ru.tt-ru.rlx -text
dev/shupashkar/apertium-tt-ru.tt.lexc -text
dev/shupashkar/apertium-tt-ru.tt.twol -text
/modes.xml -text
/pending-tests.sh -text
/qa.sh -text
/regression-tests.sh -text
test-scripts/t1x.test -text
test-scripts/t2x.test -text
test-scripts/tat-rus-corp.test -text
test-scripts/tat-rus.test -text
test-scripts/testvoc.test -text
testvoc/corpus/trimmed-coverage.sh -text
testvoc/lite/README -text
testvoc/lite/pending.txt -text
testvoc/lite/regression.txt -text
testvoc/lite/testvoc-summary.tat-rus.txt -text
testvoc/lite/testvoc.sh -text
testvoc/standard/inconsistency-summary.sh -text
testvoc/standard/inconsistency.sh -text
testvoc/standard/testvoc-summary.tat-rus.txt -text
testvoc/standard/testvoc.sh -text
/wiki-tests.sh -text
