* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-tat-rus.rus-tat.lrx -text
/apertium-tat-rus.rus-tat.t1x -text
/apertium-tat-rus.rus-tat.t2x -text
/apertium-tat-rus.rus-tat.t3x -text
/apertium-tat-rus.tat-rus.dix -text
/apertium-tat-rus.tat-rus.lrx -text
/apertium-tat-rus.tat-rus.t1x -text
/apertium-tat-rus.tat-rus.t2x -text
/apertium-tat-rus.tat-rus.t3x -text
/autogen.sh -text
/configure.ac -text
corpa/README -text
corpa/corpus.rus.txt -text svneol=unset#application/octet-stream
corpa/corpus.tat.txt -text svneol=unset#application/octet-stream
corpa/tat-rus-nova.txt -text
corpa/tat-rus-origina.txt -text
dev/shupashkar/apertium-tt-ru.ru-tt.rlx -text
dev/shupashkar/apertium-tt-ru.ru.lexc -text
dev/shupashkar/apertium-tt-ru.ru.twol -text
dev/shupashkar/apertium-tt-ru.tt-ru.rlx -text
dev/shupashkar/apertium-tt-ru.tt.lexc -text
dev/shupashkar/apertium-tt-ru.tt.twol -text
/modes.xml -text
/qa.sh -text
/rus-tat.prob -text svneol=unset#unset
/tat-rus.prob -text svneol=unset#unset
tests/tat-rus-corp.test -text
